<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cart</title>
    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='images/logo.png') }}" />
    <link href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='vendor/aos/aos.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link href="{{ url_for('static', filename='css/cart.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/preload.css') }}" rel="stylesheet">
</head>
<body>
{% with messages = get_flashed_messages() %}
{% if messages %}
{% for message in messages %}
<div class="alert alert-success show alert-auto-close text-center"
     style="z-index: 11000;" role="alert">
    <div>{{message}}</div>
</div>
{% endfor %}
{% endif %}
{% endwith %}
<section class="pt-5 pb-5" data-aos="zoom-in" data-aos-delay="1000">
    <div class="container shadow-lg rounded">
        <div class="row w-100">
            <div class="col-lg-12 col-md-12 col-12">
                <h3 class="mt-2 mb-2 text-center font-weight-bolder fs-1" style="color: orange">Shopping Cart</h3>
                <p class="mb-5 text-center">
                    <i class="font-weight-bold" style="color: darkorange">{{orders | length}}</i> items in your cart</p>
                <div class="table-responsive">
                    <table id="shoppingCart" class="table table-condensed table-responsive">
                        <thead style="position:sticky;">
                        <tr>
                            <th style="width:70%">Product</th>
                            <th style="width:10%">Price</th>
                            <th style="width:10%">Quantity</th>
                            <th style="width:10%"></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for order in orders %}
                        <tr>
                            <form action="{{ url_for('deleteCartItem') }}" method="POST">
                                <input type="hidden" name="unitPrice" value="{{order.unitPrice}}">
                                <input type="hidden" name='orderId' value='{{order.orderId}}'>
                                <input type="hidden" name="deliveryFee" value="{{order.deliveryFee}}">
                                <td data-th="Product">
                                    <div class="row">
                                        <div class="col-md-3 text-left h-100">
                                            <img src="{{ url_for('static', filename=order.imagePath) }}" alt=""
                                                 class="img-fluid d-none d-md-block rounded mb-2 shadow w-100"
                                                 style="height: 150px">
                                        </div>
                                        <div class="col-md-9 text-left mt-sm-2">
                                            <h4>{{order.productName}}</h4>
                                            <div>
                                                {% for description in order.description %}
                                                <span class="small font-weight-light d-inline-block pe-4">{{description}}</span>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td data-th="Price">{{order.totalPrice}}</td>
                                <td data-th="Quantity">
                                    <input type="number" class="form-control form-control-lg text-center quantity-input"
                                           min="1" max="10"
                                           value="{{order.quantity}}">
                                </td>
                                <td class="actions" data-th="">
                                    <div class="text-right">

                                        <button type="submit"
                                                class="btn btn-white border-secondary bg-white btn-md mb-2">
                                            <i class="fas fa-trash"></i>
                                        </button>
                                    </div>
                                </td>
                            </form>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="float-end text-end">
                    <h4>Subtotal:</h4>
                    <h1><span id="totalPrice">RM{{totalPrice}}</span></h1>
                </div>

            </div>
        </div>
        <form id="checkoutForm" action="{{ url_for('checkout') }}" method="POST">
            <input id="orderIds" type="hidden" name="orderIds"
                   value="{% for order in orders %}{{ order.orderId }},{% endfor %}">

            <div class="row mt-4 d-flex align-items-center">
                <div class="col-sm-6 order-md-2 text-end">
                    <button type="submit" class="btn btn-primary mb-4 btn-lg ps-5 pe-5" style="background-color: orange!important; border: orange">Checkout</button>
                </div>
                <div class="col-sm-6 mb-3 mb-m-1 order-md-1 text-md-left">
                    <a href="menu">
                        <i class="fas fa-arrow-left mr-2"></i> Continue Shopping</a>
                </div>
            </div>
        </form>
    </div>
</section>


<div id="preloader" data-aos="false"></div>
<script>
    const imagePaths = {{preloader | tojson | safe}};
    window.onload = function () {
        preload(imagePaths);
    };
</script>

<script src="{{ url_for('static', filename='js/jquery-3.2.1.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/aos/aos.js') }}"></script>
<script src="{{ url_for('static', filename='js/preload.js') }}"></script>
<script src="{{ url_for('static', filename='js/cart.js') }}"></script>

</body>
</html>